body
{
 background-color:#FFF3E01;
}
.h2{
    font-style: oblique;
    color:grey;
    float:left;
    margin-left: 80px;
    font-size: 20px;
    text-decoration: none;    

}
 .h{
     float:left;
     margin-top: 40px;
     margin-left:60;
     color:orange;
     font-size: 40;
 }
 .h3{
     float:left;
     margin-top:40px;
     margin-left:60px;
     font-size:12px ;
     color:grey;
     font-style: oblique;
     text-decoration: none;
    
      }
      .h3{
        float:left;
        margin-top: 20px;
        margin-left:60px;
        font-size: 12px;
        color:grey;
        font-style:oblique;
        text-decoration: none;

      }
      .h4{
        float:left;
        margin-top: 40px;
        margin-left:120px;
        font-size:12px;
        color:grey;
        font-style:oblique;


      }
      .button{
background-color: orange;
color:white;
float:left;
margin-left: 50px;
margin-top:20px;
font-family:fantasy;
border-radius:50px ;


      }

 .img
 {

    background-image:url('bake.jpg');
background-size:unset ;
background-repeat: no-repeat;
    float: left;
 	margin-left: 40px;
 	margin-top: 40px;

 }
 .img2{
    background-image:url( 'img3.jpg');
    background-color:#FFF3E01;
    background-size:unset;
    background-repeat: no-repeat;
    float:left;
    margin-left:40px;
    margin-top:0px;
    padding:0px;
}
.h1{
    color:white;
    text-align: center;
    font-size: 40;
    float:left;
    margin-left:40px;
}



.hp{
    font-size:10px;
    float:left;
    margin-left:80px;
    margin-top:12px;
    color:orange;
    background-color:white;
        font-family:fantasy;
        text-decoration: underline;

}
.ho{
    font-size:10px;
    float:left;
    margin-left:50px;
    margin-top:12px;
    color:grey;
    background-color:white;
        font-style: oblique;

}
.hw{
    font-size:10px;
    float:left;
    margin-left:50px;
    margin-top:12px;
    color:grey;
    background-color:white;
        font-style: oblique;

}
.ht{
    font-size:10px;
    float:left;
    margin-left:55px;
    margin-top:10px;
    color:grey;
    background-color:white;
    font-style: oblique;
}
.hq{
    font-size:20px;
    float:left;
    margin-left:65px ;
    margin-top: 5px;
    color:black;
    background-color: white;
}


.img3{
    background-color: white;
    color:orange;
        width:200;
    height:300;
    float:left;

    margin-left: 40px;
    margin-top: 40px;
    border-radius:20px;

}
.img4{
       background-color: white;
       color:orange;
       width:200;
       height:300;
       float:left;
       margin-left:80px;
       margin-top:40px;
       border-radius: 20px;
}
.img5{

           background-color: white;
       color:orange;
       width:200;
       height:300;
       float:left;
       margin-left:80px;
       margin-top:40px;
       border-radius: 20px;
}

.t1{
    float:left;
    margin-left:150px;
    margin-top:80px;
    font-size:40px;

}
.t2{
        float:left;
    margin-left:150px;
    margin-top:20px;
    font-size:20px;
    color:grey;
}
.t3{
        float:left;
    margin-left:215px;
    margin-top:20px;
    font-size:20px;
    color:grey;
}


.img6{
    border-radius: 300px;
    overflow:hidden;
float:left;
    margin-left:40px;
    margin-top:40px;
}
      .h6{
        float:left;
        margin-top: 40px;
        margin-left:40px;
        font-size:15px;
        color:grey;
        font-style:oblique;


      }
      .t4{
    color:white;
    float:left;
    margin-left:20px;
    margin-top:20px;
    font-size:15;
    
}
      .img7{
       background-color:orange;
       color:white;
       width:225;
       height:225;
       float:left;
       margin-left:20px;
       margin-top:50px;
       border-radius: 20px;
}
.t4{
    color:white;
    float:left;
    margin-left:20px;
    margin-top:20px;
    font-size:20;

}
.t5{
    color:white;
    float:left;
    margin-left:40px;
    margin-top:40px;
    font-size:15;

}
      .img8{
       background-color:#873e23;
       color:white;
       width:225;
       height:225;
       float:left;
       margin-left:40px;
       margin-top:50px;
       border-radius: 20px;
}
.t6{
    color:white;
    float:left;
    margin-left:10px;
    margin-top:10px;
    font-size:15;
}
      .img9{
       background-color:orange;
       color:white;
       width:225;
       height:225;
       float:left;
       margin-left:20px;
       margin-top:50px;
       border-radius: 20px;
}

.t8{
    float:left;
    margin-left:400px;
    margin-top: 40px;
    font-size: 40;
    color:black;
}
.t7{
       background-color:white;
       color:white;
       width:200;
       height:500;
       float:left;
       margin-left:20px;
       margin-top:50px;
       


}
.pg2{
    width:1000px;
    height:500px;
    

}

.h7{
    color:grey;
    font-size: 15;
    margin-left:600px;
    margin-top:100px;

}

